<h1>Habits</h1>

You have <%= Habit.active_count %> active habits!

<ul>
  <% @habits.each do |habit| %>
  	<% unless habit.archived? %>
	    <li>
	    	<%= link_to habit.title, habit %>
	    </li>
	<% end %>
  <% end %>
</ul>

<%= link_to "New Habit", new_habit_path %>
